@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    background-color: #e5e5e5;
}
.lishechka::before {
    content: url(../images/menu/Notes.svg);
    margin-right: 5px;
}
.link {
    color: #43e8ff;
}
.organizacion {
    max-width: 100%;
    margin: auto;
    min-height: 100vh;
}
.activ {
    background: -o-radial-gradient(-4.59% -10%, 133.33% 2508.35%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff;
    background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff;
    border-radius: 10px;
    padding: 2px 0px 2px 0px;
    color: #000;
}
.activ-black {
    color: #000 !important;
}
.btn-white {
    background: #ffffff;
    border-radius: 6px;
    padding: 7px 30px 7px 30px;
    color: #23273a;
    text-decoration: none;
}
.fz-12 {
    font-size: 12px;
}
.lh-16 {
    line-height: 16px;
}
.color-red {
    color: #ff8991;
}
menu {
    position: relative;
    background: #1f2339;
    width: 64px;
    margin: 0;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 1;
    overflow-x: hidden;
}
menu.big {
    background: #1f2339;
    width: 241px;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    min-width: 241px;
}
.dashbord {
    background-color: #4d5474;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 68px;
}
.dashbord_header {
    padding-bottom: 52px;
}
.dashbord_header-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
}
.dashbord_header-setting .right-img {
    margin-right: 20px;
}
.dashbord_card-item {
    position: relative;
    padding: 20px;
    background: #383e57;
    -webkit-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    height: 100%;
    overflow: hidden;
}
.dashbord_card-item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
.dashbord_card-item-subtitle {
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
}
.evant_card-item {
    position: relative;
    padding: 20px;
    background: #383e57;
    -webkit-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    overflow: hidden;
}
.evant_card-item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
.work-with-fields-img {
    text-align: center;
}
.weather_content {
    color: #fff;
}
.weather_index-one {
    margin-bottom: 30px;
}
.weather_index-one-date {
    margin-top: 25px;
}
.weather_index-one-thermometer {
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    letter-spacing: -0.05em;
    padding-right: 23px;
}
.weather_index-two {
    color: #a1a6be;
}
.weather_index-two-text-right {
    padding-right: 72px;
}
.reports table th {
    padding: 0 30px 0 0;
    color: #ffffff;
    border-bottom: 1px solid #151e41;
}
.reports table td {
    padding: 0 30px 0 0;
    color: #ffffff;
    border-bottom: 1px solid #151e41;
    border-right: 1px solid #151e41;
}
.reports table th + th {
    padding: 10px 30px 10px 10px;
}
.reports table td + td {
    padding: 10px 30px 10px 10px;
}
.reports table td + td + td {
    border-right: none;
}
.employees_inner {
    color: #fff;
    margin-bottom: 10px;
}
.employees_inner span {
    color: #a1a6be;
}
.statistic-select {
    color: #43e8ff;
    font-weight: 600;
}
.statistic-select:after {
    content: url(.././images/statik/drop-down.svg);
    color: #43e8ff;
    margin-left: 10px;
}
.quantity {
    color: #a1a6be;
}
.year-up::before {
    content: url(../images/statik/2020.svg);
    margin-right: 20px;
}
.year-down::before {
    content: url(../images/statik/2019.svg);
    margin-right: 20px;
}
.rented::after {
    content: url(../images/rented/star.svg);
    margin-left: 20px;
}
.rented-grafik {
    position: relative;
    overflow: hidden;
    width: 272px;
    height: 213px;
}
.rented-img {
    position: absolute;
    top: 17px;
}
.rented-table {
    position: relative;
    top: 44px;
}
.rented-table_grafik {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 150px;
    top: 10px;
}
.rented-table_text {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    width: 135px;
    text-align: center;
}
.razdel {
    color: #151e41;
    height: 1px;
    margin: 0 -20px 0 -20px;
}
